<nav class="navbar navbar-default navbar-static-top">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/#/Profile">Profile</a></li>
    <li role="presentation"><a href="/#/Tasks">Tasks</a></li>
    <li role="presentation"><a href="/#/Projects">Projects</a></li>
    <li role="presentation"><a href="/#/Employees">Employees</a></li>
    <li role="presentation"><a href="/#/Send">Send Email</a></li>
    <li role="presentation"><a href="/#/Email">Emails</a></li>
    <li role="presentation"><a href="http://localhost:3010/">Chat</a></li>
    <li role="presentation"><a href="http://localhost:3001/">File Manage</a></li>
  </ul>
</nav>
