<div ng-include="'app/partials/navbar/navbar.html'"></div>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div class="container-fluid">
  <div id="sortableKanbanBoards" class="row">
    <div class="panel panel-primary kanban-col">
      <div class="panel-heading">
        TODO
        <i class="fa fa-2x fa-plus-circle pull-right"></i>
      </div>
      <div class="panel-body">
        <div id="TODO" class="kanban-centered">

          <article class="kanban-entry grab" id="item1" draggable="true">
            <div class="kanban-entry-inner">
              <div class="kanban-label">
                <h2><a href="#">Norbert Bogusiewicz</a> <span>changed status</span></h2>
                <p>Fix bugs</p>
              </div>
            </div>
          </article>

          <article class="kanban-entry grab" id="item2" draggable="true">
            <div class="kanban-entry-inner">
              <div class="kanban-label">
                <h2><a href="#">Norbert Bogusiewicz</a> <span>changed status</span></h2>
                <p>Prepare documentation</p>
              </div>
            </div>
          </article>

          <article class="kanban-entry grab" id="item3" draggable="true">
            <div class="kanban-entry-inner">
              <div class="kanban-label">
                <h2><a href="#">Norbert Bogusiewicz</a> <span>changed status</span></h2>
                <p>Integration tests</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="panel panel-primary kanban-col">
      <div class="panel-heading">
        IN PROGRESS
        <i class="fa fa-2x fa-plus-circle pull-right"></i>
      </div>
      <div class="panel-body">
        <div id="DOING" class="kanban-centered">

          <article class="kanban-entry grab" id="item5" draggable="true">
            <div class="kanban-entry-inner">

              <div class="kanban-label">
                <h2><a href="#">Norbert Bogusiewicz</a>
                </h2>
                <p>Meeting with consultants</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="panel panel-primary kanban-col">
      <div class="panel-heading">
        DONE
        <i class="fa fa-2x fa-plus-circle pull-right"></i>
      </div>
      <div class="panel-body">
        <div id="DONE" class="kanban-centered">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-refresh fa-5x fa-spin"></i>
          <h4>Update...</h4>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(function () {
    var kanbanCol = $('.panel-body');
    kanbanCol.css('max-height', (window.innerHeight - 150) + 'px');

    var kanbanColCount = parseInt(kanbanCol.length);
    $('.container-fluid').css('min-width', (kanbanColCount * 350) + 'px');

    draggableInit();

    $('.panel-heading').click(function () {
      var $panelBody = $(this).parent().children('.panel-body');
      $panelBody.slideToggle();
    });
  });

  function draggableInit() {
    var sourceId;

    $('[draggable=true]').bind('dragstart', function (event) {
      sourceId = $(this).parent().attr('id');
      event.originalEvent.dataTransfer.setData("text/plain", event.target.getAttribute('id'));
    });

    $('.panel-body').bind('dragover', function (event) {
      event.preventDefault();
    });

    $('.panel-body').bind('drop', function (event) {
      var children = $(this).children();
      var targetId = children.attr('id');

      if (sourceId != targetId) {
        var elementId = event.originalEvent.dataTransfer.getData("text/plain");

        $('#processing-modal').modal('toggle'); //before post


        // Post data
        setTimeout(function () {
          var element = document.getElementById(elementId);
          children.prepend(element);
          $('#processing-modal').modal('toggle'); // after post
        }, 1000);

      }

      event.preventDefault();
    });
  }

</script>
