<div ng-include="'app/partials/navbar/navbar.html'"></div>

<div id="employees">
  </br>
  </br>
  <table class="table table-bordered table-hover">
    <tbody>
    <tr class="info">
      <th>#</th>
      <th>Subject</th>
      <th>First Receiver</th>
      <th>Second Receiver</th>
      <th>Message</th>
      <th>Date</th>
    </tr>
    <tr class="animate-repeat success" ng-repeat="email in vm.emails">
      <td>{{$index}}</td>
      <td>{{email.Subject}}</td>
      <td>{{email.FirstReceiver}}</td>
      <td>{{email.SecondReceiver}}</td>
      <td ng-click="vm.openInfo(email)">Click to see message!</td>
      <td>{{email.Date}}</td>
    </tr>
    </tbody>
  </table>

</div>

