<div id="employeeInfo">
  <span class="text-info">
    <img class="img-thumbnail" ng-src="assets/images/ContactPhoto.png"/>
    <h3 style="display:inline-block">{{vm.Employee.EmployeeInfo.FirstName + " " + vm.Employee.EmployeeInfo.LastName}}</h3>
  </span>
  </br></br>


    <ul class="list-unstyled">
      <li>First Name: {{vm.Employee.EmployeeInfo.FirstName}}</li>
      <li>Last Name: {{vm.Employee.EmployeeInfo.LastName}}</li>
      <li>Date Of Birth: {{vm.Employee.EmployeeInfo.DateOfBirth}}</li>
      <li>Start Date:  {{vm.Employee.EmployeeInfo.StartDate}}</li>
    </ul>

    <ul class="list-unstyled">
      <li>Project Code:  {{vm.ProjectCode}}</li>
      <li>Project Code:  {{vm.Hours}}</li>
      <li>Project Code:  {{vm.Cost}}</li>
      <li>Position:  {{vm.EmployeeInfo.Position}}</li>
      <li>Office:  {{vm.EmployeeInfo.Office}}</li>
      <li>Department:  {{vm.EmployeeInfo.Department}}</li>
      <li>Team:  {{vm.EmployeeInfo.Team}}</li>
      <li>Employment Status:  {{vm.EmployeeInfo.EmploymentStatus}}</li>
    </ul>

    <ul class="list-unstyled">
      <li>Mobile Phone:  {{vm.EmployeeInfo.MobilePhone}}</li>
      <li>Email Address:  {{vm.EmployeeInfo.Department}}</li>
      <li>Address:  {{vm.EmployeeInfo.Address}}</li>
    </ul>


</div>
