<form>
<br>
  <div class="form-horizontal">

    <span style="display: inline">
      <label>UserName:</label> <input  class="form-control" type="text" ng-model="employee.UserName" />
      <label>Password: </label><input  class="form-control" type="password" ng-model="employee.Password" />
    </span>

    <span style="display: inline-block">
      <label>First Name:</label> <input  class="form-control" type="text" ng-model="employee.EmployeeInfo.FirstName" />
      <label>Last Name: </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.LastName" />
    </span>
    <span style="display: inline-block">
      <label>Date Of Birth: </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.DateOfBirth" />
      <label>Start Date:  </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.StartDate" />
    </span>

    <span style="display: inline-block">
        <label>Project Code:  </label><input  class="form-control" type="text" ng-model="employee.ProjectCode" />
        <label>Hours in Project:  </label><input  class="form-control" type="text" ng-model="employee.Hours" />
        <label>Cost:  </label><input  class="form-control" type="text" ng-model="employee.Cost" />
        <label>Position:  </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.Position" />
        <label>Office:  </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.Office" />
        <label>Department:  </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.Department" />
        <label>Team:  </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.Team" />
    </span>

    <span style="display: inline-block">
      <label>Employment Status:  </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.EmploymentStatus" />
      <label>Mobile Phone:  </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.MobilePhone" />
      <label>Email Address:  </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.EmailAddress" />
      <label>Address:  </label><input  class="form-control" type="text" ng-model="employee.EmployeeInfo.Address" />
    </span>
  </div>
  </br>
  <button ng-click="vm.addEmployee(employee)" type="submit" class="btn btn-success">Submit</button>
</form>
