<div ng-include="'app/partials/navbar/navbar.html'"></div>

<h1>{{vm.Project.ProjectName}}</h1>
</br>
</br>
<p>{{vm.Project.Description}}</p>
</br></br></br>
<ul class="list-unstyled">
  <li>Client: {{vm.Project.Client}}</br></li>
  <li>Project Code: {{vm.Project.ProjectCode}}</br></li>
  <li>LatestStatus: {{vm.Project.LatestStatus}}</br></li>
  <li>Region: {{vm.Project.Region}}</br></li>
</ul>
</br></br>

<section style="float:left;width:50%;display:block">
  <header>
    <h4>Project's Participants</h4>
  </header>
  <table class="table" style="display: inline-block;">
    <tbody>
    <tr>
      <th>Employee</th>
      <th>Position</th>
      <th>Hours in {{vm.Project.ProjectCode}}</th>
      <th>Cost $</th>
    </tr>
    <tr class="animate-repeat" ng-repeat="employee in vm.employees">
      <td>{{employee.EmployeeInfo.FirstName + " " + employee.EmployeeInfo.LastName}}</td>
      <td>{{employee.EmployeeInfo.Position }}</td>
      <td>{{employee.Hours }}</td>
      <td>{{employee.Hours *  employee.Cost }}$</td>
    </tr>
    </tbody>
  </table>
</section>
<section style="float:left;width:50%;display:block">
  <header>
    <h4>Project's Tasks</h4>
  </header>
  <table class="table" style="display: inline-block;">
    <tbody>
    <tr>
      <th>Task</th>
      <th>Employee</th>
      <th>Description</th>
      <th>Estimation</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th><button class="btn btn-success" ng-click="vm.openNew()">Add task</button></th>
    </tr>
    <tr ng-repeat="task in vm.tasks">
      <td>{{task.TaskName}}</td>
      <td>{{task.EmployeeName }}</td>
      <td>{{task.Description }}</td>
      <td>{{task.Estimation }}</td>
      <td>{{task.StartDate }}</td>
      <td>{{task.EndDate }}</td>
      <td><button class="btn btn-danger" ng-click="vm.removeTask(task)">Add task</button></td>
    </tr>
    </tbody>
  </table>
</section>



