<div ng-include="'app/partials/navbar/navbar.html'"></div>

<h1>{{vm.Project.ProjectName}}</h1>
</br>
</br>
<p>{{vm.Project.Description}}</p>
</br></br></br>
<ul class="list-unstyled">
  <li>Client: {{vm.Project.Client}}</br></li>
  <li>Project Code: {{vm.Project.ProjectCode}}</br></li>
  <li>LatestStatus: {{vm.Project.LatestStatus}}</br></li>
  <li>Region: {{vm.Project.Region}}</br></li>
</ul>

</br></br>
Employees cost: {{vm.employeeCost}}
</br></br>
<div style="width: 50%">
  <table class="table">
    <tbody>
    <tr>
      <th>Employee</th>
      <th>Position</th>
      <th>Hours in {{vm.Project.ProjectCode}}</th>
      <th>Cost $</th>
    </tr>
    <tr class="animate-repeat" ng-repeat="employee in vm.employees">
      <td>{{employee.EmployeeInfo.FirstName + " " + employee.EmployeeInfo.LastName}}</td>
      <td>{{employee.EmployeeInfo.Position }}</td>
      <td>{{employee.Hours }}</td>
      <td>{{employee.Hours *  employee.Cost }}$</td>
    </tr>
    </tbody>
  </table>
  <span class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
        Assign employee
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="employee in vm.employeesAll">
          <a ng-click="" href>{{employee.EmployeeInfo.FirstName + " " + employee.EmployeeInfo.LastName +' - '+ employee.EmployeeInfo.Position}}</a>
        </li>
      </ul>
  </span>
</div>

